numpy
scipy
pillow
click
colorama
PyYAML
cryptography==47.0.0
openai
langchain
opencv-python
torch
torchvision
ultralytics
SpeechRecognition
pyttsx3
sounddevice
pyaudio
face-recognition
sentence-transformers
faiss-cpu
scapy
